.userDocumentations.dash-row-grid {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 20px 10px;
}

.userDocumentations {
    max-width: 1200px;
    margin: 20px auto;
}

.documentationItem {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px 15px;
    border-radius: 5px;
    background: #fff;
    border-top: 2px solid #0d6efd;
    background: #f8f8f8;
}

.installPlugin {
    text-align: center;
}

.installPlugin h2,
.installPlugin h3 {
    margin: 10px 0px;
}

.documentationItem:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1), -2px -2px 3px rgba(0, 0, 0, .1)
}

.documentationItem h1 {
    font-size: 15px;
}

.documentationItem a {
    color: #000;
    text-decoration: none;
}

.documentationItem .document-date {
    font-size: 12px;
    color: #777;
}

.dashboard {
    min-height: 100vh;
}